/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: hsl(208.9, 100%, 48%);
  --ifm-color-primary-dark: hsl(208.9, 63.5%, 37.6%);
  --ifm-color-primary-darker: hsl(208.9, 63.5%, 35.5%);
  --ifm-color-primary-darkest: hsl(208.9, 63.8%, 29.2%);
  --ifm-color-primary-light: hsl(208.9, 63.2%, 45.9%);
  --ifm-color-primary-lighter: hsl(208.9, 63.3%, 48%);
  --ifm-color-primary-lightest: hsl(208.9, 63.1%, 54.3%);
  --ifm-color-secondary: hsl(47.7, 97.6%, 51.2%);
  --ifm-color-secondary-dark: hsl(47.7, 63.5%, 37.6%);
  --ifm-color-secondary-darker: hsl(47.7, 63.5%, 35.5%);
  --ifm-color-secondary-darkest: hsl(47.7, 63.8%, 29.2%);
  --ifm-color-secondary-light: hsl(47.7, 63.2%, 45.9%);
  --ifm-color-secondary-lighter: hsl(47.7, 63.3%, 48%);
  --ifm-color-secondary-lightest: hsl(47.7, 63.1%, 54.3%);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
